<!DOCTYPE html>
<html lang="en">
<%=_.template(require("./../includes/head.html"))()%>

    <body>
        <%=_.template(require("./../includes/header.html"))()%>
            <menu class="main_menu">
                <div class="row">
                    <div class="col-md-6">
                        <a href="/" class="menu_back left_arrow"></a>
                        <div class="main_menu-mark">
                            <img src="/img/Mercedes.png" />
                            <span>Mercedes-Benz</span>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </menu>
    </body>
    <script src="/js/bundle.js"></script>

</html>